# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
/dist
node_modules

kotlin/org/xmtp/android/library/push/xmtp
swift/keystore_api
swift/message_api
swift/message_contents
swift/mls
swift/mls_validation