services:
  node:
    image: ghcr.io/xmtp/node-go:main
    platform: linux/amd64
    environment:
      - GOWAKU-NODEKEY=8a30dcb604b0b53627a5adc054dbf434b446628d4bd1eccc681d223f0550ce67
    command:
      - --store.enable
      - --store.db-connection-string=postgres://postgres:xmtp@db:5432/postgres?sslmode=disable
      - --store.reader-db-connection-string=postgres://postgres:xmtp@db:5432/postgres?sslmode=disable
      - --mls-store.db-connection-string=postgres://postgres:xmtp@mlsdb:5432/postgres?sslmode=disable
      - --mls-validation.grpc-address=validation:50051
      - --api.enable-mls
      - --wait-for-db=30s
    ports:
      - 25555:5555
      - 25556:5556
    depends_on:
      - db
      - mlsdb
      - validation

  validation:
    image: ghcr.io/xmtp/mls-validation-service:main
    platform: linux/amd64

  db:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: xmtp
    ports:
      - 25432:5432

  mlsdb:
    image: postgres:13
    environment:
      POSTGRES_PASSWORD: xmtp

  notification_server:
    build:
      context: .
    env_file: .env.docker
    depends_on:
      - node
    command:
      - --xmtp-listener
      - --api
      - --http-delivery
      - --http-delivery-address=http://integration:7777/post
      - --api-port=8080

  integration:
    build:
      context: ./integration
      dockerfile: Dockerfile
    expose:
      - 7777
    volumes:
      - ./integration/src:/usr/app/src:ro
    depends_on:
      - node
      - notification_server
    environment:
      - XMTP_NODE_URL=http://node:5556
      - NOTIFICATION_SERVER_URL=http://notification_server:8080
    command:
      - npx
      - vitest
      - run
