name: Deploy Nodes
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: xmtpeng
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Git Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version-file: go.mod

      - name: Push
        id: push
        run: |
          export DOCKER_IMAGE_TAG=latest
          IMAGE_TO_DEPLOY=xmtp/notifications-server@$(dev/push)
          echo "docker_image=${IMAGE_TO_DEPLOY}" >> $GITHUB_OUTPUT

      - name: Deploy to dev
        uses: xmtp-labs/terraform-deployer@v1
        with:
          terraform-token: ${{ secrets.TERRAFORM_TOKEN }}
          terraform-org: xmtp
          terraform-workspace: dev
          variable-name: notifications_server_image
          variable-value: ${{ steps.push.outputs.docker_image }}
          variable-value-required-prefix: xmtp/notifications-server
